.about {
   
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.a-image {  
    border-width: 2px;
    border-radius: 5%;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.about .header {
    text-align: start;
}

.about .a-text {
    text-align: start;
}

.about .link {
    text-decoration: underline;
    font-size: 32px;
}
.about .link:active {
    color: #8f917e;
}

.about .link:hover {
    color: #b6b8a2;
}