/* .bg {
    background-image: "url(/config/images/bg.jpg)";
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    width: 100%;
  } */

.bg {
  background-color:#374c33;
}

.v-image {
  width: 100%;

}

@media screen and (min-width: 768px) {
    .v-image {
        
        width: 100%;
    }
}