/* .bg {
    background-image: "url(/config/images/bg.jpg)";
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    width: 100%;
  } */

  .bg {
    background-color:#647a42;
  }