@font-face {
    font-family: bit;
    src: url(../fonts/ConnectionIi-2wj8.otf);
}

.faq {
    background-color: rgb(31, 51, 28);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.accordion {
    
}

.accordion-item {
    background-color: rgb(214, 197, 176);
}

.accordion-button {
    background-color: rgb(161, 136, 120);
    border-color: aqua;
}

.accordion-button .collapsed {
    
}

.accordion-button:enabled {
    background-color: rgb(116, 71, 41);
    color: rgb(214, 197, 176);
}

.accordion-body {
    font-family: bit;

}

.accordion-header {
    
}
