@font-face {
    font-family: bit;
    src: url(../fonts/ConnectionIi-2wj8.otf);
}

.faq {
    background-color: rgb(31, 51, 28);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.accordion {
    
}

.accordion-item {
    background-color: rgb(214, 197, 176);
}

.accordion-button {
    background-color: rgb(161, 136, 120);
}

.accordion-button .collapsed {
    
}

.accordion-button:enabled {
    background-color: rgb(116, 71, 41);
    color: rgb(214, 197, 176);
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.7) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    border-color: none;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-body {
    font-family: bit;

}

.accordion-header {
    
}

.spacer-x-small {
    height: 8px;
    width: 8px;
}

.spacer-small {
    height: 16px;
    width: 16px;
}

.spacer-medium {
    height: 24px;
    width: 24px;    
}

.spacer-large {
    height: 32px;
    width: 32px;   
}
