
@font-face {
    font-family: bit;
    src: url('../fonts/ConnectionIi-2wj8.otf');
}

.text-t {
    font-family: bit;
    font-size: large;
    color: #e1e4c9;
    letter-spacing: 3px;
    text-shadow: 1px 1px rgb(80, 80, 80);
}

.header {
    text-align: center;
    text-shadow: 2px 2px rgb(80, 80, 80);
    margin: auto;
    padding: 20px;
    font-size: 48px;
    font-family: bit;
}