.footer-bg-color {
    background-color: rgb(22, 22, 22);
}

.footer.icon {
    transform: scale(1.50);
    margin-bottom: 10px;
}

.footer .sm-icons-footer {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}