

.navbar-bg-color {
    background-color: rgb(31, 51, 28);
}

.link-container {
    display: flex;
    margin: 0 1em 0 1em;
    align-items: center;
}

.nav-link {
    margin: 0 0.3em 0 0;
}

.link {
    margin: 0 0.5em 0 0.5em;
}

.nav-item {
    color:rgb(255, 233, 209);
    cursor: pointer;
}

.navbar-brand {
    display: flex; 
    flex-direction: row;
    align-content: flex-start;
   
}
.brand {
    color: rgb(255, 233, 209);
    margin: auto;
}

.link-btn {
    background-color: transparent;
}