

.navbar-bg-color {
    /* background-color: rgb(31, 51, 28); */
    background-color: #647a42;
}

.link-container {
    display: flex;
    margin: 0 1em 0 1em;
    align-items: center;
}

.nav-link {
    margin: 0 0.3em 0 0;
}

.link-t {
    margin-top: 1vh;
    margin-right: 2vh;
}
.link-t:hover{
    font-weight: bolder;
}

.nav-item {
    cursor: pointer;
}

.navbar-brand {
    display: flex; 
    flex-direction: row;
    align-content: flex-start;
   
}
.brand {
    margin: auto;
}
.brand:hover {
    font-weight: bolder;
}

.link-btn {
    background-color: transparent;
}

.sm-icons {
    display: flex;
    flex-direction: row;
}
.sm-image:hover{
    transform: scale(1.1);
}

ul.navbar-nav.ml-auto {
    display: flex;
    
    
}
