.roadmap {
    
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.roadmap .row {
    background-color: #374c33;
   
}

.row-name {
    font-size: xx-large;
    margin-bottom: auto;
    font-weight: bold;
    margin-top: 35px;
}

.row-text {
    font-size: large;
    color: #d1d4ba;
    text-align: start;
}

.row-title {
    margin-top: 35px;
    font-size: xx-large;
    font-weight: bold;
    text-align: start;
}

.spacer-large {
    height: 32px;
    width: 32px;   
}
