.team {
    /* background-color: #284724; */
    
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    align-items: center;
}

/* .card {
    width: 18rem; 
    margin: auto;
    background-color: rgb(75, 53, 33);
} */

.card-text {
    font-size: medium;
}

.card-title {
    font-size: larger;
}

/* <button class="button-56" role="button">Button 56</button> */

.card {
  width: 18rem;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #374c33;
  /* background-color: #6d6055; */
  
  border-radius: 12px;
  /* color: #111; */
  
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}


.card:hover{
  /* background-color: #6d6055; */
  border: 2px solid #111;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.discord-container {
    text-align: center;
    align-items: center;
}

.discord-text {
    font-size: x-large;
}

.discord-btn {
  margin: 0 auto;
  align-items: center;
  background-image: linear-gradient(144deg,#97744b, #5d8024 50%,#123f4b);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(1, 31, 8, 0.247) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: bit;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 280px;
  min-width: 120px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.discord-btn:active,
.discord-btn:hover {
  outline: 0;
}

.discord-btn span {
  background-color: rgb(80, 80, 32);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.discord-btn:hover span {
  background: none;
}

@media (min-width: 768px) {
  .discord-btn {
    font-size: 24px;
    min-width: 196px;
  }
}

.team-image {
  border-radius: 50%;
  margin-top: 4px;
}



.spacer-large {
    height: 32px;
    width: 32px;   
}

.spacer-medium {
    height: 24px;
    width: 24px;
}


